---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Blog RSMKode";
---

<Layout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
</Layout>
